/*

* Full word means that its refering to a html tag.

* If it starts with a . then its a class

* If it starts with a # its an id


*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
    font-family: Verdana;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    text-align: center;
    float: left;
}

/*Change the link color on hover*/

li a.active {
    background-color: steelblue;
    color: white;
}

li a.last-child {
    border-bottom: none;
}

li a:hover:not(.active) {
    background-color: deepskyblue;
    color: white;
}
